.idea/
*.swp
*.swo
*~

.env
.env.local
.env.*.local

app/vendor/
app/storage/framework/cache/
app/storage/framework/sessions/
app/storage/framework/views/
app/storage/logs/*
!app/storage/logs/.gitignore
app/bootstrap/cache/*
!app/bootstrap/cache/.gitignore
app/.phpunit.result.cache
app/phpunit.xml

*.log
*.cache
*.tmp
*.bak
*.pid
*.seed
