.idea/
*.swp
*.swo
*~

.env
.env.local
.env.*.local

src/vendor/
src/storage/framework/cache/
src/storage/framework/sessions/
src/storage/framework/views/
src/storage/logs/*
!src/storage/logs/.gitignore
src/bootstrap/cache/*
!src/bootstrap/cache/.gitignore
src/.phpunit.result.cache
src/phpunit.xml

*.log
*.cache
*.tmp
*.bak
*.pid
*.seed
